.CityMap {
	max-width: 600px;
}

.CityMap .vx-geo-mercator {
	cursor: pointer;
	transition: fill 300ms, opacity 300ms;
	opacity: 0.8;
}

.CityMap .vx-geo-mercator:hover {
	opacity: 1;
}

.CityMap .legend-container {
	/* position: absolute; */
	/* bottom: 3em; */
	/* left: 40px; */
	font-size: 0.85em;
}

.CityMap .legend-container .vx-legend-shape>div {
	border: 1px solid #888;
}
