@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,700|Barlow:400,700');

.App {
	font-family: 'Barlow', sans-serif !important;
	padding-top: 12px;
	padding-bottom: 32px;
}

.App .Intro {
	font-size: 1.1em;
	padding: 20px 0;
}

.App .Footer {
	color: #555;
	padding: 30px 0;
}
